$text-color:#243e64;
$color-red:#fd3f58;

* {
    box-sizing: border-box;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.color_red {
    color: $color-red;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.contact_btn {
    margin-right: 30px;
    transition: ease all 300ms;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    color: red;
    border: none;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $color-red;
        color: white;
    }

    .icon {
        padding-left: 10px;
        transition: ease all 200ms;
    }
}

.hidden-xs {
    @media screen and (max-width: 991px) {
        display: none !important;
    }
}

.visible-xs {
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    margin: 0;

    .phone {
        text-decoration: none;
        color: $color-red;
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-bar {
        padding-right: 20px;
    }

    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .letter_r {
            font-size: 40px;
            width: 100px;
            height: 100px;
            color: white;
            background-color: $color-red;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 991px) {
                width: 50px;
                height: 50px;
                font-size: 30px;
            }
        }

        .link {
            text-decoration: none;
            font-size: 18px;
            color: gray;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                color: $color-red;
            }
        }

        .navbar {
            display: flex;
            align-items: center;

            .show {
                .dropbtn {
                    color: $color-red !important;
                }

                .dropdown-content {
                    display: block !important;
                }
            }

            .dropdown {
                &:hover {
                    .dropdown-content {
                        display: block;
                    }
                }

                .dropbtn {
                    cursor: pointer;
                    background-color: inherit;
                    font-size: 18px;
                    color: gray;
                    border: none;
                    outline: none;

                    &:hover {
                        color: $color-red;
                    }
                }

                .dropdown-content {
                    border: solid 1px lightgrey;
                    display: none;
                    position: absolute;
                    top: 100px;
                    background-color: white;
                    min-width: 200px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
                    z-index: 1;

                    .sublink {
                        text-decoration: none;
                        font-size: 16px;
                        padding: 10px 20px;
                        color: gray;
                        display: block;

                        &:hover {
                            color: $color-red;
                        }
                    }
                }
            }
        }

        .contact_details {
            display: flex;
            align-items: center;

            .language {
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                /* Safari and Chrome */
                appearance: none;

            }

            .select_box {
                position: relative;
                margin-right: 30px;

                .language {
                    position: relative;
                    z-index: 2;
                    font-size: 16px;
                    color: gray;
                    background-color: transparent;
                    border: none;
                    padding-right: 15px;

                    &:focus {
                        outline: none;
                    }
                }

                .language_icon {
                    z-index: 1;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    .sidebar {
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;

        a {
            padding: 10px 30px;
            text-decoration: none;
            font-size: 20px;
            color: $text-color;
            display: block;
            transition: 0.3s;
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
        }

        .accordian_item {
            padding: 10px 30px;

            .accordian_title {
                font-size: 20px;
                border-radius: 5px;
            }

            .accordian_content {
                padding: 5px;
                display: none;

                a {
                    font-size: 16px;
                }
            }

            .minus {
                display: none;
            }

            .icon {
                float: right;
                transition: ease all 300ms;
            }
        }

        .active .plus {
            display: none;
        }

        .active .minus {
            display: block;
        }

        .contact_btn {
            margin: 5px 30px;
        }

        .contact_details {
            display: flex;
            align-items: center;
            padding: 5px 30px;

            .call {
                font-size: 18px;
                color: gray;
            }

            .phone {
                color: $color-red;
            }
        }
    }

    @media only screen and (max-width: 767px) {

        .prev,
        .next,
        .text {
            font-size: 11px
        }
    }

    .mySlides {
        display: none;

        .banner_img {
            position: relative;
            height: 80vh;
            overflow: hidden;

            @media screen and (max-width: 767px) {
                height: 30vh;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
               height: 45vh;
            }
        }
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        background-color: gray;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    .banner {

        .banner_text_wrap {
            width: 36%;
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);

            @media screen and (max-width: 767px) {
                top: 55%;
                width: 90%;
                left: 20px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
                width: 60%;
            }

            @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) {
                width: 45%;
            }

            .adv_tag {
                background-color: #fbfbff;
                border: solid 1px #ededee;
                display: inline-block;
                padding: 10px 20px;
                margin: 0;
                color: gray;
            }

            .banner_title {
                font-size: 60px;
                line-height: 1.4;
                letter-spacing: 1px;
                color: $text-color;
                margin-top: 20px;
                margin-bottom: 20px;

                @media screen and (max-width: 767px) {
                    font-size: 30px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .para {
                font-size: 18px;
                line-height: 1.8;
                color: gray;

                @media screen and (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;

            @media screen and (max-width: 767px) {
                width: 8px;
                height: 8px;
            }
        }

        .active,
        .dot:hover {
            background-color: #717171;
        }
    }
}